body {
  background: rgb(91, 13, 114);
}
#title {
  font-style: italic;
  margin-left: 50px;
  padding: 10px;
}
.container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  font-size: 3.8em;
  color: white;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
  color: white;
  background-color: transparent;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  border-color: #ffff;
  border-radius: 1.5em;
  height: 40px;
  width: 100px;
  margin-left: 8px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10;
}
.button:hover {
  background-color: white;
  color: black;
}
